@model IEnumerable<FleetManager.Domain.Models.Robot>

@{
    ViewData["Title"] = "Robots";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h4 class="text-accent m-0">ROBOTS</h4>
    <p>
        <a asp-action="Create" class="btn btn-outline-success btn-sm font-monospace">+ CREATE NEW</a>
    
        <a asp-action="Import" class="btn btn-outline-success btn-sm font-monospace">Import file</a>
        <a asp-action="Export" class="btn btn-outline-success btn-sm font-monospace">Export in file</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firmware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Policy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firmware.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policy.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-accent text-decoration-none">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info text-decoration-none">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger text-decoration-none">Delete</a>

                </td>
        </tr>
}
    </tbody>
</table>
